#meme-image-container {
  width: 325px;
  height: 325px;
  border: 1px solid black;
  background-color: rgb(255, 255, 255);
}

#img-id {
    position: relative;
    margin-left: 10px;
    margin-top: 10px;
    z-index: 1;
}

#meme-text {
  position: absolute;
  top: 40px;
  z-index: 2;
  left: 50px;
  width: 100px;
  display: inline-block;
  text-shadow: black 5px 5px 5px;
  font-size: 30px;
  color: white;
}
/* ref: https://www.w3.org/Style/Examples/007/text-shadow.pt_BR.html //Para a sombra */

