#meme-image-container {
  width: 325px;
  height: 325px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  border: 1px solid black;
  background-color: rgb(255, 255, 255);
}

#img-id {
    position: relative;
    margin-left: 10px;
    margin-top: 10px;
    z-index: 1;
}

#meme-text {
  position: absolute;
  top: 40px;
  z-index: 2;
  left: 50px;
  width: 100px;
  display: inline-block;
  text-shadow: black 5px 5px 5px;
  font-size: 30px;
  color: white;
}

.red {
  border: 3px dashed red;
}
/* ref: https://www.w3.org/Style/Examples/007/text-shadow.pt_BR.html //Para a sombra */

#meme-1, #meme-2, #meme-3, #meme-4 {
  width: 150px;
  height: 150px;
}

